body{
    background: rgb(29, 0, 41);
}
.main{
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
   
}
h1{
    text-align: center;
    color: white;
}
label{
    margin-left: 15em;
    margin-right: 15em;
    color: white;
    font-size: 4;
}
input{
    margin-left: 18em;
    margin-right: 18em;
    margin-bottom: .6em;
    margin-top: .6em;
}
button{
    text-align: center;
    margin:auto;
    width: 20%;
    color: white;
    background: none;
    border: 2px solid whitesmoke;
}
.output{
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}